/* css for others */
.profile-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
    height: 700px;
}

.user-profile {
    background-color: white;
    border-radius: 4px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 80%;
}

.profile-detail {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profile-detail > img {
    height: 200px;
    width: 200px;
    padding: 10px;
    border-radius: 50%;
}

.profile-detail > div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}
