/* 数据集具体信息样式 */
.detail-section {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 20px auto;
    width: 80%;
}

/* 数据集主要内容样式 */
#dataset-detail-content {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

#dataset-detail-content > div {
    background: #f5f5f5;
    border-radius: 4px;
}

.dataset-detail-content-main {
    width: 100%;
    margin: 20px auto;
}

.back {
    position: relative;
    left: 3%;
    top: 3%;
    text-decoration: none;
}

.back > a {
    font-size: 20px;
}

.back > a:hover {
    text-decoration: none;
    color: black;
}

.dataset-detail-content-main > article {
    position: relative;
    left: 2%;
}

.tags {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tags > button {
    /*width: 10%;*/
    height: 30px;
    margin: 3px 2%;
    border-radius: 4px;
    border: 1px;
    outline: none;
}

.tag1 {
    background-color: RGBA(55, 61, 65, .2);
}

.tag2 {
    background-color: #8BC24A;
}

.dataset-detail-content-follow {
    width: 100%;
    margin: 20px auto;
    border-radius: 4px;
}


/* 数据集侧边信息样式 */
#dataset-detail-side {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
}

#dataset-detail-side > div {
    background: #f5f5f5;
    border-radius: 4px;
}

.user-block {
    margin: 20px 30px;
    width: 90%;
}

.user-head {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-head > img {
    border-radius: 50%;
    margin: 3% auto;
    height: 80px;
    width: 80px;
}

.user-head > h2 {
    font-size: 1.5em;
    margin: 10px;
}

.user-head > button {
    margin: 10px;
    border-radius: 4px;
}

.links {
    margin: 20px 30px;
    width: 90%;
}

.links > table > thead > th {
    height: 50px;
    background-color: #F7F7F9;
    border-radius: 4px;
    text-align: center;
}

.links > table > tbody > tr > th {
    text-align: center;
}

/* 按钮组 */
.buttons {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    background: none !important;
}

.buttons > button {
    margin: 10px 40px;
    width: 20%;
    height: 40px;
    border-radius: 4px;
    outline: none;
}