<section class="wrapper">
  <h3><i class="fa fa-angle-right"></i> 个人中心</h3>
  <div class="row mt">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>
        <h4><i class="fa fa-angle-right"></i> 我的个人信息</h4>
        <div class="white-panel pn">
          <div class="white-header">
            <h5>名片</h5>
          </div>
          <div class="project">
            <div class="photo-wrapper">
              <div class="photo" (click)="uploadPicModal.show()">
                <img src="assets/img/ui-zac.jpg" class="img-circle img-responsive" width="80"style="cursor: pointer">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <p><b>洪嘉勇</b></p>
          <div class="row">
            <div class="col-md-6">
              <p class="small mt">信息1</p>
              <p>。。。</p>
            </div>
            <div class="col-md-6">
              <p class="small mt">信息2</p>
              <p>。。。</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="small mt">信息3</p>
              <p>。。。</p>
            </div>
            <div class="col-md-6">
              <p class="small mt">信息4</p>
              <p>。。。</p>
            </div>
          </div>
          <button type="button" class="btn btn-primary" style="padding: 5px 10px 5px 10px" (click)="editModal.show()">修改个人信息</button>
          <button type="button" class="btn btn-danger" style="padding: 5px 10px 5px 10px"
                  (click)="dakaErrorModal.show()"
          >今日打卡</button>
        </div>
      </div>

      <div>
        <h4><i class="fa fa-angle-right"></i>通知</h4>
        <div class="alert alert-success">
          <b>通知来源</b>
          <p>那个人的id</p>
          <p>内容</p>
          <a>跳转链接</a>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">
      <!--我的比赛-->
      <div>
        <h4 (click)="comIsCollapsed = !comIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i> 我的比赛</h4>

        <div [collapse]="comIsCollapsed">
          <div>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn" (click)="toMyCompetition()">
                  <div class="darkblue-header">
                    <h5>比赛1</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789 参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn">
                  <div class="darkblue-header">
                    <h5>比赛2</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

            </div>
            <br/>

            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn">
                  <div class="darkblue-header">
                    <h5>比赛3</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789 参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn">
                  <div class="darkblue-header">
                    <h5>比赛4</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <br/>

      <!--我参与的比赛-->
      <div>
        <h4 (click)="comInIsCollapsed = !comInIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i> 我参与的比赛</h4>

        <div [collapse]="comInIsCollapsed">
          <div>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn" (click)="toMyCompetition()">
                  <div class="darkblue-header">
                    <h5>比赛1</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789 参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn">
                  <div class="darkblue-header">
                    <h5>比赛2</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

            </div>
            <br/>

            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn">
                  <div class="darkblue-header">
                    <h5>比赛3</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789 参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="darkblue-panel com-pn">
                  <div class="darkblue-header">
                    <h5>比赛4</h5>
                  </div>
                  <h1 class="mt"><i class="fa fa-gamepad" aria-hidden="true"></i></h1>
                  <p style="color: #797979">+ 1789参与者</p>
                  <footer>
                    <div class="centered">
                      <h5><i class="fa fa-trophy"></i> 17,988</h5>
                    </div>
                  </footer>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <br/>

      <!--我的共享-->
      <div>
        <h4 (click)="datasetIsCollapsed = !datasetIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i> 我共享的数据集</h4>

        <div [collapse]="datasetIsCollapsed">
          <div>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stock card">
                  <div class="stock-chart">
                    <div id="chart"></div>
                  </div>
                  <div class="stock current-price">
                    <div class="row">
                      <div class="info col-sm-12 col-xs-12"><abbr>数据集名称</abbr>
                        <time>发布时间</time>
                      </div>
                    </div>
                  </div>
                  <div class="summary">
                    <strong>18.3 M</strong> <span>人加入了分享</span>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="stock card">
                  <div class="stock-chart">
                    <div id="chart"></div>
                  </div>
                  <div class="stock current-price">
                    <div class="row">
                      <div class="info col-sm-12 col-xs-12"><abbr>数据集名称</abbr>
                        <time>发布时间</time>
                      </div>
                    </div>
                  </div>
                  <div class="summary">
                    <strong>18.3 M</strong> <span>人加入了分享</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

      <br/>

      <!--我参与的共享-->
      <div>
        <h4 (click)="datasetInIsCollapsed = !datasetInIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i> 我参与共享的数据集</h4>

        <div [collapse]="datasetInIsCollapsed">
          <div>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="stock card">
              <div class="stock-chart">
                <div id="chart"></div>
              </div>
              <div class="stock current-price">
                <div class="row">
                  <div class="info col-sm-12 col-xs-12"><abbr>数据集名称</abbr>
                    <time>发布时间</time>
                  </div>
                </div>
              </div>
              <div class="summary">
                <strong>18.3 M</strong> <span>人加入了分享</span>
              </div>
            </div>
          </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="stock card">
              <div class="stock-chart">
                <div id="chart"></div>
              </div>
              <div class="stock current-price">
                <div class="row">
                  <div class="info col-sm-12 col-xs-12"><abbr>数据集名称</abbr>
                    <time>发布时间</time>
                  </div>
                </div>
              </div>
              <div class="summary">
                <strong>18.3 M</strong> <span>人加入了分享</span>
              </div>
            </div>
          </div>

            </div>
          </div>
        </div>

      </div>

      <br/>

      <!--我的课程-->
      <div>
        <h4 (click)="courseIsCollapsed = !courseIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i> 我的课程</h4>

        <div [collapse]="courseIsCollapsed">
          <div>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-panel course-pn">
                  <div class="course">
                    <div class="user">
                      <img src="assets/img/friends/fr-06.jpg" class="img-circle" width="80">
                      <h4>课程名字</h4>
                    </div>
                  </div>
                  <div class="pr2-social centered">
                    <button class="btn btn-primary">查看详情</button>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-panel course-pn">
                  <div class="course">
                    <div class="user">
                      <img src="assets/img/friends/fr-06.jpg" class="img-circle" width="80">
                      <h4>课程名字</h4>
                    </div>
                  </div>
                  <div class="pr2-social centered">
                    <button class="btn btn-primary">查看详情</button>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

      <br/>

      <!--我参加的课程-->
      <div>
        <h4 (click)="courseInIsCollapsed = !courseInIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i> 我参与的课程</h4>

        <div [collapse]="courseInIsCollapsed">
          <div>
            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-panel course-pn">
                  <div class="course">
                    <div class="user">
                      <img src="assets/img/friends/fr-06.jpg" class="img-circle" width="80">
                      <h4>课程名字</h4>
                    </div>
                  </div>
                  <div class="pr2-social centered">
                    <button class="btn btn-primary">查看详情</button>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="content-panel course-pn">
                  <div class="course">
                    <div class="user">
                      <img src="assets/img/friends/fr-06.jpg" class="img-circle" width="80">
                      <h4>课程名字</h4>
                    </div>
                  </div>
                  <div class="pr2-social centered">
                    <button class="btn btn-primary">查看详情</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <br/>
</section>

<!--打卡 modal-->
<div class="modal fade" bsModal #dakaModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">每日打卡</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dakaModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br/>
         你今日获得的了<b>50</b>数据币！
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dakaModal.hide()" >确定</button>
      </div>
    </div>
  </div>
</div>

<!--打卡失败 modal-->
<div class="modal fade" bsModal #dakaErrorModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header error">
        <h4 class="modal-title pull-left">每日打卡</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dakaErrorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br/>
        系统繁忙，请稍后再试！
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dakaErrorModal.hide()" >确定</button>
      </div>
    </div>
  </div>
</div>

<!--上传图片 modal-->
<div class="modal fade" bsModal #uploadPicModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form (ngSubmit)="uploadPic()" #headForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title pull-left">上传头像</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="uploadPicModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br/>
          <input type="file">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" (click)="uploadPicModal.hide()" >确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--修改个人信息 modal-->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form (ngSubmit)="editProfile()" #headForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title pull-left">修改个人资料</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="value-1">value 1</label>
            <input type="text" id="value-1" class="form-control" value="value-1">
          </div>

          <div class="form-group">
            <label for="value-2">value 2</label>
            <input type="text" id="value-2" class="form-control" value="value-2">
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" (click)="editModal.hide()" >确定</button>
          <button class="btn btn-danger" (click)="editModal.hide()">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>