<section class="wrapper">
  <h3><i class="fa fa-angle-right"></i> 个人中心</h3>
  <div class="row mt">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div>
        <h4><i class="fa fa-angle-right"></i> 我的个人信息</h4>
        <div class="white-panel pn">
          <div class="white-header">
            <h5>名片</h5>
          </div>
          <div class="project">
            <div class="photo-wrapper">
              <div class="photo" (click)="uploadPicModal.show()">
                <img src="assets/img/ui-zac.jpg" class="img-circle img-responsive" width="80"style="cursor: pointer">
              </div>
              <div class="overlay"></div>
            </div>
          </div>
          <p><b>洪嘉勇</b></p>
          <div class="row">
            <div class="col-md-6">
              <p class="small mt">信息1</p>
              <p>。。。</p>
            </div>
            <div class="col-md-6">
              <p class="small mt">信息2</p>
              <p>。。。</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="small mt">信息3</p>
              <p>。。。</p>
            </div>
            <div class="col-md-6">
              <p class="small mt">信息4</p>
              <p>。。。</p>
            </div>
          </div>
          <button type="button" class="btn btn-primary" style="padding: 5px 10px 5px 10px" (click)="editModal.show()">修改个人信息</button>
          <button type="button" class="btn btn-danger" style="padding: 5px 10px 5px 10px"
                  (click)="dakaErrorModal.show()"
          >今日打卡</button>
        </div>
      </div>

      <div>
        <h4 (click)="messageIsCollapsed = !messageIsCollapsed" style="cursor: pointer"><i class="fa fa-angle-right"></i>通知</h4>
        <!--<div class="alert alert-success">-->
          <!--<b>通知来源</b>-->
          <!--<p>那个人的id</p>-->
          <!--<p>内容</p>-->
          <!--<a>跳转链接</a>-->
        <!--</div>-->
        <div [collapse]="messageIsCollapsed">
          <div class="my-message">
            <a href="index.html#">
              <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
              <span class="subject">
                                      <span class="from">Zac Snider</span>
                                      <span class="time">Just now</span>
                                      </span>
              <span class="message">
                                          Hi mate, how is everything?
                                      </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">

      <!--我的动态-->
      <div>
        <h4><i class="fa fa-angle-right"></i> 我的动态</h4>

        <div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="white-panel message-pn">
                <div class="message-header">
                  <h5>#1</h5>
                </div>
                <p style="text-indent: 2pt">jksdgkjsdhg</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="white-panel message-pn">
                <div class="message-header">
                  <h5>#2</h5>
                </div>
                <p style="text-indent: 2pt">jksdgkjsdhg</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="white-panel message-pn">
                <div class="message-header">
                  <h5>#3</h5>
                </div>
                <p style="text-indent: 2pt">jksdgkjsdhg</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="white-panel message-pn">
                <div class="message-header">
                  <h5>#4</h5>
                </div>
                <p style="text-indent: 2pt">jksdgkjsdhg</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="white-panel message-pn">
                <div class="message-header">
                  <h5>#5</h5>
                </div>
                <p style="text-indent: 2pt">jksdgkjsdhg</p>
              </div>
            </div>
          </div>

          <br/>

          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="white-panel message-pn">
                <div class="message-header">
                  <h5>#6</h5>
                </div>
                <p style="text-indent: 2pt">jksdgkjsdhg</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
  <br/>
</section>

<!--打卡 modal-->
<div class="modal fade" bsModal #dakaModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">每日打卡</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dakaModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br/>
         你今日获得的了<b>50</b>数据币！
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dakaModal.hide()" >确定</button>
      </div>
    </div>
  </div>
</div>

<!--打卡失败 modal-->
<div class="modal fade" bsModal #dakaErrorModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header error">
        <h4 class="modal-title pull-left">每日打卡</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dakaErrorModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br/>
        系统繁忙，请稍后再试！
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="dakaErrorModal.hide()" >确定</button>
      </div>
    </div>
  </div>
</div>

<!--上传图片 modal-->
<div class="modal fade" bsModal #uploadPicModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myUploadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form (ngSubmit)="uploadPic()" #headForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title pull-left">上传头像</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="uploadPicModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <br/>
          <input type="file">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" (click)="uploadPicModal.hide()" >确定</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--修改个人信息 modal-->
<div class="modal fade" bsModal #editModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="myEditModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <form (ngSubmit)="editProfile()" #headForm="ngForm">
        <div class="modal-header">
          <h4 class="modal-title pull-left">修改个人资料</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="value-1">value 1</label>
            <input type="text" id="value-1" class="form-control" value="value-1">
          </div>

          <div class="form-group">
            <label for="value-2">value 2</label>
            <input type="text" id="value-2" class="form-control" value="value-2">
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit" (click)="editModal.hide()" >确定</button>
          <button class="btn btn-danger" (click)="editModal.hide()">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>