/* css for info overview */
.profile-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 80%;
}

.left-content {
    width: 80%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.user-profile {
    background-color: white;
    height: 200px;
    border-radius: 4px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.profile-detail {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-detail > img {
    height: 150px;
    width: 150px;
    padding: 10px;
    border-radius: 50%;
}

.user-profile > ul {
    width: 100%;
    position: relative;
    bottom: -12px;
    font-size: 24px;
}

.user-profile > ul > li {
    display: inline-block;
    list-style-type: none;
    padding: 0 40px;
}

.user-profile > ul > li > a {
    text-decoration: none;
}

.user-profile > ul > li:hover {
    border-bottom: 2px solid #646454;
    opacity: 0.6;
}

.profile-detail > div > i{
    cursor: pointer;
}

.active{
    border-bottom: 2px solid #646464;
}

.tab-page {
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
}

.right-content {
    background-color: white;
    width: 25%;
    height: 300px;
    border-radius: 4px;
    margin-left: 10px;
}
