<!-- ******HEADER****** -->
<header id="header" class="header">
  <div class="container">
    <h1 class="logo pull-left">
      <a (click)="moveToHome()" style="cursor: pointer">
        <span class="logo-title">FunData</span>
      </a>
    </h1><!--//logo-->
    <nav id="main-nav" class="main-nav navbar-right" role="navigation">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button><!--//nav-toggle-->
      </div><!--//navbar-header-->
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active nav-item sr-only"><a style="cursor: pointer;">Home</a></li>
          <li class="nav-item"><a (click)="moveToAbout()" style="cursor: pointer;">关于</a></li>
          <li class="nav-item"><a (click)="moveToFeatures()" style="cursor: pointer;">特点</a></li>
          <li class="nav-item"><a (click)="moveToGetStart()" style="cursor: pointer;">开始</a></li>
          <li class="nav-item last"><a (click)="moveToContact()" style="cursor: pointer;">联系我们</a></li>
        </ul><!--//nav-->
      </div><!--//navabr-collapse-->
    </nav><!--//main-nav-->
  </div>
</header><!--//header-->

<!-- ******大屏幕****** -->
<section id="home" class="promo section offset-header">
  <div class="container text-center">
    <h2 class="title">Fun<span class="highlight">Data</span></h2>
    <p class="intro">Hello FunData!</p>
    <div class="btns">
      <a class="btn btn-cta-secondary" [routerLink]="['/login']" style="text-decoration: none;">登录</a>
      <a class="btn btn-cta-primary" [routerLink]="['/register']" style="text-decoration: none;">注册</a>
    </div>
    <ul class="meta list-inline">
      <li><a href="https://github.com/Hjyheart/FunData-Font-Angular2" style="text-decoration: none" target="_blank">GitHub</a></li>
      <li>开发团队: <a href="http://sse.tongji.edu.cn/" style="text-decoration: none" target="_blank">同济大学GC、IBM、APPLE俱乐部</a> 联合开发
      </li>
    </ul><!--//meta-->
  </div><!--//container-->
  <div class="social-media">
    <div class="social-media-inner container text-center">
      <ul class="list-inline">
        <li class="github-star">
          <iframe src="http://ghbtns.com/github-btn.html?user=Hjyheart&repo=FunData-Font-Angular2&type=watch&count=true"
                  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </li>
        <li class="github-fork">
          <iframe src="http://ghbtns.com/github-btn.html?user=Hjyheart&repo=FunData-Font-Angular2&type=fork"
                  allowtransparency="true" frameborder="0" scrolling="0" width="53" height="20"></iframe>
        </li>
      </ul>
    </div>
  </div>
</section><!--//promo-->

<!-- ******概况****** -->
<section id="about" class="about section">
  <div class="container">
    <h2 class="title text-center">什么是FunData?</h2>
    <p class="intro text-center">解释一下什么是FunData，凯神撰稿</p>
    <div class="row">
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-heart"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">为数据处理爱好者而生</h3>
          <p>留白</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-trophy"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">激烈的数据处理比赛</h3>
          <p>留白</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-book"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">丰富的数据课程</h3>
          <p>留白</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="clearfix visible-md"></div>
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-share-alt"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">数据分享</h3>
          <p>留白</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-qq"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">分享我的数据生活</h3>
          <p>留白</p>
        </div><!--//content-->
      </div><!--//item-->
      <div class="item col-md-4 col-sm-6 col-xs-12">
        <div class="icon-holder">
          <i class="fa fa-comments"></i>
        </div>
        <div class="content">
          <h3 class="sub-title">数据朋友圈</h3>
          <p>留白</p>
        </div><!--//content-->
      </div><!--//item-->
    </div><!--//row-->
  </div><!--//container-->
</section><!--//about-->

<!-- ******特点****** -->
<section id="features" class="features section">
  <div class="container text-center">
    <h2 class="title">我们的特色</h2>
    <ul class="feature-list list-unstyled">
      <li><i class="fa fa-check"></i> 每个用户都可以创建自己的数据集</li>
      <li><i class="fa fa-check"></i> 每个用户都可以创建自己的数据比赛</li>
      <li><i class="fa fa-check"></i> 每个用户都可以创建自己的数据课程</li>
    </ul>
  </div><!--//container-->
</section><!--//features-->

<!-- ******开始****** -->
<section id="get-start" class="docs section">
  <div class="container">
    <div class="docs-inner">
      <h2 class="title text-center">Get Started</h2>
      <div class="block">
        <h3 class="sub-title text-center">数据集</h3>
        <p>留白</p>

        <div class="block">
          <h3 class="sub-title text-center">数据比赛</h3>
          <p>留白</p>
          <div class="block">
            <h3 class="sub-title text-center">数据课程</h3>
            <p>留白</p>
          </div><!--//block-->
        </div><!--//docs-inner-->
      </div><!--//container-->
    </div>
  </div>
</section>


<!-- ******CONTACT****** -->
<section id="contact" class="contact section has-pattern">
  <div class="container">
    <div class="contact-inner">
      <h2 class="title  text-center">联系我们</h2>
      <p class="intro  text-center">以下是我们的联系方式:<br/><br/><i class="fa fa-phone"></i>&nbsp; +86 15900582673<br/><i class="fa fa-envelope"><a href="mailto:tj_island@163.com" style="color: #FFF;  ">&nbsp;tj_island@163.com</a></i></p>
      <div class="clearfix"></div>
    </div><!--//contact-inner-->
  </div><!--//container-->
</section><!--//contact-->

<!-- ******FOOTER****** -->
<footer class="footer">
  <div class="container text-center">
    <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
    <small class="copyright">Designed with <i class="fa fa-heart"></i> by 吴凯、洪嘉勇、黄宗润
    </small>
  </div><!--//container-->
</footer><!--//footer-->

