.nav-login-btn {
    position: relative;
    top: 10px;
    text-align: center;
    height: 30px;
    min-width: 70px;
    background-color: #eebf3f;
    border-radius: 4px
}

a.nav-login-btn:hover {
    background: #eebf8f;
    border: 1px solid #053c4e;
    color: #fff;
}

.nav-login-icon {
    padding-top: 14px;
    text-decoration: none;
}
