/* css for my dataset */
.my-dataset-container {
    margin: 10px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

.dataset-list {
    padding: 40px 0;
    background: #f5f5f5;
}

.dataset-list .title {
    color: #074f66;
    margin-top: 0;
    margin-bottom: 30px;
}

.dataset-list-img > img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    border-radius: 50%;
}

.dataset-list a {
    text-decoration: none;
}

.dataset-list hr {
    border: 0;
    border-top: 1px solid black;
    height: 1px;
    max-width: 200px;
    transition: width 2s;
}

.dataset-list .dataset-list-inner {
    max-width: 900px;
    background: #FFF;
    padding: 30px;
    margin: 0 auto;
    border-radius: 4px;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.dataset-list-item {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
    margin-top: 10px;
}

.dataset-list-item-intro {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: row nowrap;
    max-width: 575px;
}

.dataset-list-item-right {
    display: flex;
    align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column nowrap;
    font-size: 12px;
    margin-left: auto;
    min-width: 125px;
    margin-top: 9px;
}

.dataset-list-item-right > button {
    border-radius: 4px;
    width: 60%;
}

/*换页栏*/
.page-change {
    position: relative;
    left: 20%;
}

/* 约束编辑器 */
.yueshu-edit-contain {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
}

.attr-buttons {
    width: 50%;
    height: 300px;
    overflow-y: auto;
}

.attr-buttons > button {
    margin: 20px 10px;
}

.operations {
    width: 50%;
    height: 300px;
    overflow-y: auto;
}

.operations > button {
    margin: 20px 10px;
}

.res {
    text-align: center;
    padding: 20px;
}

.expression-confirm {
    float: right;
    text-align: center;
    position: relative;
    top: -30px;
}

.expression-delete {
    float: right;
    text-align: center;
    position: relative;
    top: -30px;
    margin-right: 3px;
}

.selected-exp {
    float: left;
    height: 50px;
    width: 100%;
}