<section id="container">

  <my-bar (siderBarListener)="dealMargin($event)"></my-bar>

  <!-- **********************************************************************************************************************************************************
  MAIN CONTENT
  *********************************************************************************************************************************************************** -->
  <!--main content start-->
  <section id="main-content" [style.margin-left]="containerMargin">
    <router-outlet></router-outlet>
  </section>
  <!-- /MAIN CONTENT -->

  <!--main content end-->
  <!--footer start-->
  <my-footer></my-footer>
  <!--footer end-->
</section>